name: transcendence

services:
  api_gateway:
    container_name: api_gateway
    build: ./containers/api_gateway
    networks:
      - main
    depends_on:
      - user-service
      - auth-service
      - game_history-service
    restart: always

# USER MICROSERVICE
  user-service:
    container_name: user-service
    build: 
      context: ./containers/user/user-service
      dockerfile: Dockerfile.prod
    env_file:
      - .user_env
    networks:
      - main
    restart: always
    depends_on:
      - user-db

  user-db:
    container_name: user-db
    build: ./containers/user/user-db
    env_file:
      - .userdb_env
    networks:
      - main
    restart: always

# AUTH MICROSERVICE
  auth-service:
    container_name: auth-service
    build: 
      context: ./containers/auth/auth-service
      dockerfile: Dockerfile.prod
    env_file:
      - ./containers/auth/auth-service/.auth_env
    networks:
      - main
    restart: always

# GAME HISTORY MICROSERVICE
  game_history-service:
    container_name: game_history-service
    build: 
      context: ./containers/game_history/game_history-service
      dockerfile: Dockerfile.prod
    networks:
      - main
    restart: always

networks:
   main:
     driver: bridge
