name: transcendence

services:
  nginx-front:
    container_name: nginx-front
    build: ./containers/nginx-front
    image: nginx-front:v1
    ports:
      - "8080:443"
#    env_file:
#      - .env
    depends_on:
      - api-gateway
    networks:
      - main
    restart: always

  api-gateway:
    container_name: api-gateway
    build: ./containers/api-gateway
    expose:
      - "3000"
    networks:
      - main
    restart: always


networks:
   main:
     driver: bridge
