name: transcendence

services:
  nginx_front_dev:
    profiles: ["dev"]
    container_name: nginx_front
    build: 
      context: ./containers/nginx_front
      dockerfile: Dockerfile.dev
      args:
        VITE_BASE_URL: "http://localhost:5173"
    ports:
      - "5173:5173"
    depends_on:
      - api_gateway
    networks:
      - main
    restart: always
    volumes:
      - ./containers/nginx_front/front:/app  # bind mount
      - /app/node_modules # anonymous volume

#INFO: Source code → from host (live edits)
#      Dependencies → from Docker volume (stable, Linux-built)
#This works because '/app/node_modules' is more specific than '/app'
      #Docker overlays it on top.

#    command: npm run dev -- --host

  nginx_front_prod:
    profiles: ["prod"]
    container_name: nginx_front
    build: 
      context: ./containers/nginx_front
      dockerfile: Dockerfile.prod
      args:
        VITE_BASE_URL: "https://localhost:8080"
    ports:
      - "8080:443"
    depends_on:
      - api_gateway
    networks:
      - main
    restart: always

  api_gateway:
    container_name: api_gateway
    build: ./containers/api_gateway
#    ports:
#     - "3000:3000"
    networks:
      - main
    depends_on:
      - user-service
      - auth-service
      - game_history-service
    restart: always

# USER MICROSERVICE
  user-service:
    container_name: user-service
    build: ./containers/user/user-service
    env_file:
      - .user_env
    networks:
      - main
    restart: always
    depends_on:
      - user-db

  user-db:
    container_name: user-db
    build: ./containers/user/user-db
    env_file:
      - .userdb_env
    networks:
      - main
    restart: always

# AUTH MICROSERVICE
  auth-service:
    container_name: auth-service
    build: ./containers/auth/auth-service
    networks:
      - main
    restart: always

# GAME HISTORY MICROSERVICE
  game_history-service:
    container_name: game_history-service
    build: ./containers/game_history/game_history-service
    networks:
      - main
    restart: always
#    depends_on:
#      - game_history-service-db
#
#  game_history-db:
#    container_name: game_history-db
#    build: ./containers/game_history/game_history-db
#    networks:
#      - main
#    restart: always

networks:
   main:
     driver: bridge
